@model XToolUser
@{
    XToolUser user = Model as XToolUser;
}

<div class="card">
    @*@if (actor.Photos.Count > 0)
    {
        <img class="photo" src="@actor.Photos.ElementAt(new Random(DateTime.Now.Second).Next(0, actor.Photos.Count)).Url" alt="navalniy">
    }*@
    <div class="card-content-wrapper">
        <div class="card-content">
            <div class="card-content">
                ФИО:
                <b>@user.FullName</b>

                @*@if(user.Birthday != default(DateTime))
                {
                    <text>
                        <br> Дата рождения:
                        <b>@(user.Birthday.ToShortDateString())</b>
                    </text>
                }*@

                @if (!string.IsNullOrWhiteSpace(user.Position))
                {
                    <text>
                        <br> Место работы и должность:
                        <b>@user.Position</b>
                    </text>
                }
                
                <br> Email:
                <b>@user.Email</b>
                
                @if (!string.IsNullOrWhiteSpace(user.PhoneNumber))
                {
                    <text>
                    <br> Номер телефона:
                    <b>@user.PhoneNumber</b>
                    </text>
                }
            </div>
        </div>
        <a class="card-link" href="@Url.Action("User", "Admin", new { id = user.Id })">
            <div class="arrow-box-wrapper">
                <div class="arrow-box">
                    ►
                </div>
            </div>
        </a>
    </div>
</div>

