@{
    Actor actor = ViewBag.Actor as Actor;
}

<section class="card-group">
    <div class="section-title">
        @actor.Name
        <button class="section-hider" onclick="change_section_content_state(event)">
            скрыть
        </button>
    </div>

    <div class="clear"></div>
    <div class="section-content">

        <!-- Основная информация -->

        <div class="card-title">
            Основная информация
        </div>


        <div class="card">
            <div class="card-content-wrapper">
                <div class="card-link">
                    <div class="arrow-box-wrapper">
                        <div class="arrow-box">
                            @if (actor.Sex == Sexes.Male)
                            {
                                <img class="inner-card-item" src="~/img/clip-art/sex/male.png" alt="">
                            }
                            else if (actor.Sex == Sexes.Female)
                            {
                                <img class="inner-card-item" src="~/img/clip-art/sex/female.png" alt="">
                            }
                        </div>
                    </div>
                </div>
                @Html.Partial("../Partial/KeyInfoCardContent", actor)
            </div>
        </div>

        <!-- Фотографии -->

        @if (actor.Photos.Count > 0)
        {
            <div class="card-title">
                Фотографии
            </div>

            @foreach (Photo photo in actor.Photos)
                {
                @Html.Partial("../Partial/PhotoCard", photo)
            }
        }

        <!-- Публикации и выступления -->

        @if (actor.Publications.Count > 0)
            {
            <div class="card-title">
                Публикации и выступления
            </div>
            @foreach (IGrouping<int, Publication> publications in actor.Publications.GroupBy(pub => pub.Year).OrderBy(gr => gr.Key))
                {
                <div class="card-subtitle">
                    @(publications.Key == 0 ? "..." : publications.Key.ToString())
                </div>
                @foreach (Publication publication in publications)
                {
                    @Html.Partial("../Partial/PublicationCard", publication)
                }
            }
        }

        <!-- Видео -->

        @if (actor.Videos.Count > 0)
        {
            <div class="card-title">
                Видео
            </div>

            @foreach (Video video in actor.Videos)
                {
                @Html.Partial("../Partial/VideoCard", video)
            }
        }

        <!-- Биография -->
        @if (actor.BiograpphyEvents.Count > 0)
            {
                <div class="card-title">Биография</div>

                @foreach (BiographyEvent biographyEvent in actor.BiograpphyEvents)
                {
                    @Html.Partial("../Partial/EventCard", biographyEvent)
                }
            }

        <!-- Карьера -->
        @if (actor.CareerPeriods.Count > 0)
            {
                <div class="card-title">Карьера</div>

                @foreach (CareerPeriod period in actor.CareerPeriods)
                {
                    <div class="card-subtitle">
                        @period.Period
                    </div>

                    @if (period.CareerEvents.Count > 0)
                    {
                        @foreach (CareerEvent ev in period.CareerEvents)
                        {
                            @Html.Partial("../Partial/EventCard", ev)
                        }
                    }

                }
        }

        <!-- Цитаты -->

        @if (actor.Quotations.Count > 0)
        {
            <div class="card-title">Цитаты</div>

            @foreach (Quotation quotation in actor.Quotations)
            {
                @Html.Partial("../Partial/QuotationCard", quotation)
            }
        }

        <!-- Дополнительные блоки -->

        @foreach (CustomSection section in actor.CustomSection)
        {
            @Html.Partial("../Partial/CustomSection", section)
        }
    </div>
</section>

<section class="card-group">
    <div class="section-title">
        Экспертная оценка
        <button class="section-hider" onclick="change_section_content_state(event)">
            скрыть
        </button>
    </div>


    <div class="section-content">

        <!-- Колличественная оценка -->

        <div class="card-title">
            Шкалы
        </div>

        <div class="card">
            <div class="card-content">
                <div class="graph">
                    <svg class="polyline-canvas">
                        <linearGradient id="linear-gradient">
                            <stop offset="0%" stop-color="rgb(160, 240, 240)" />
                            <stop offset="100%" stop-color="rgb(216, 240, 204)" />
                        </linearGradient>
                        <polyline class="polyline" />
                    </svg>
                    <div class="graph-grid">

                        <div class="horizontal" style="top: 0%">
                            <div class="horizontal-value">100</div>
                        </div>
                        <div class="horizontal" style="top: 25%">
                            <div class="horizontal-value">75</div>
                        </div>
                        <div class="horizontal" style="top: 50%">
                            <div class="horizontal-value">50</div>
                        </div>
                        <div class="horizontal" style="top: 75%">
                            <div class="horizontal-value">25</div>
                        </div>
                        <div class="horizontal" style="top: 100%">
                            <div class="horizontal-value">0</div>
                        </div>
                    </div>

                    <!-- <svg style="position: absolute;" width="120" height="120" viewBox="0 0 120 120"
                        xmlns="http://www.w3.org/2000/svg">

                      <polygon points="60,20 100,40 100,80 60,100 20,80 20,40"/>
                    </svg> -->
                    <div class="graph-column">
                        <div class="graph-axis"></div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"><input type="text" class="vertex-value"></div>
                        <div class="column-name">
                            I
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"><input type="text" class="vertex-value"></div>
                        <div class="column-name">
                            II
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"><input type="text" class="vertex-value"></div>
                        <div class="column-name">
                            III
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            IV
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            V
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            VI
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            VII
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            VIII
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            IX
                        </div>
                    </div>
                    <div class="graph-column">
                        <div class="graph-vertex"></div>
                        <div class="column-name">
                            X
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-title">
            Комментарий
        </div>

        <div class="card-empty">
            <textarea class="card-textbox" placeholder="Оставьте здесь свой комментарий..."></textarea>
        </div>
    </div>
</section>



