@{ 
    IEnumerable<Actor> actualActors = ViewBag.ActualActors as IEnumerable<Actor>;
    IEnumerable<Actor> actors = ViewBag.Actors as IEnumerable<Actor>;
}

@if (actualActors.Count() == 0)
{<text>
    В системе нет ни одного актора
</text>}
else
{


<section class="card-group">
    <div class="section-title">
        Акторы
        <button class="section-hider" onclick="change_section_content_state(event)">
            скрыть
        </button>
    </div>
    <div class="clear"></div>

    <div class="section-content">
    @if ((actualActors?.Count() ?? 0) > 0 )
    {
        <div class="card-title">
            Самые актуальные
        </div>

        foreach (Actor actor in actualActors)
        {
            <div class="card">
                @if(actor.Photos.Count > 0)
                {
                    <img class="photo" src="@actor.Photos.ElementAt(new Random(DateTime.Now.Second).Next(0, actor.Photos.Count)).Url" alt="navalniy">
                }
                <div class="card-content-wrapper">
                    <div class="card-content">
                        @Html.Partial("../Partial/KeyInfoCardContent", actor)
                    </div>
                    <a class="card-link" href="@Url.Action("Actor", "Home", new { id = actor.Id })">
                        <div class="arrow-box-wrapper">
                            <div class="arrow-box">
                                ►
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    }

        <div class="card-title">
            Поиск
        </div>

        <div class="card">
            <div class="card-content">
                <form class="search-form">
                    <div class="input-name">Поисковый запрос</div>
                    <div class="flex-container">
                        <input type="text" name="search">
                        <button>Найти</button>
                    </div>
                    <!-- <div class="selects">
                    <div class="input-name">Пол
                        <select name="sex" id="sex">
                            <option>
                                все
                            </option>
                            <option>
                                мужской
                            </option>
                            <option>женский</option>
                        </select>
                    </div>
                    <div class="input-name">Страна
                        <select name="country" id="country">
                            <option>
                                все
                            </option>
                            <option>
                                Россия
                            </option>
                            <option>США</option>
                            <option>Франция</option>
                            <option>Полинезия</option>
                        </select>
                    </div> -->

                </form>
            </div>
        </div>

        <div class="card-waiter">
            <div class="loading"></div>
        </div>


        @if ((actors?.Count() ?? 0) > 0)
        {
            <div class="card-title">
                Самые актуальные
            </div>

            foreach (Actor actor in actors)
            {
                <div class="card">
                    <div class="card-content-wrapper">
                        <div class="card-content">
                            @Html.Partial("../Partial/KeyInfoCardContent", actor)
                        </div>
                        <a class="card-link" href="@Url.Action("Actor", "Home", new { id = actor.Id })">
                            <div class="arrow-box-wrapper">
                                <div class="arrow-box">
                                    ►
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>

</section>

}
